### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [20]:
total_players = len(purchase_data["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[total_players]})

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
unique_items = len(purchase_data["Item Name"].unique())
# print(unique_items)

average_price = purchase_data["Price"].mean()
# print(average_price)

total_purchases = len(purchase_data["Purchase ID"])
# print(total_purchases)

total_revenue = purchase_data["Price"].sum()
# print(total_revenue)

purchasing_analysis_df = pd.DataFrame({"Total Unique Items":[unique_items],
                                       "Average Price $":[round(average_price,2)],
                                       "Total Purchases":[total_purchases],
                                       "Total Revenue $":[total_revenue]})
purchasing_analysis_df

   Total Unique Items  Average Price $  Total Purchases  Total Revenue $
0                 179             3.05              780          2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
gender_groups=purchase_data.groupby(['Gender'])

unique_players = gender_groups["SN"].nunique()

gender_demographics_df=pd.DataFrame({"Total Number of Users by Gender":unique_players,
                                 "Percentage of Users by Gender (%)": round((unique_players/total_players)*100,2)})

gender_demographics_df

,Total Number of Users by Gender,Percentage of Users by Gender (%)
Gender,,
Female,81,14.06
Male,484,84.03
Other / Non-Disclosed,11,1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
#Purchase Count
purchase_count_gender = gender_groups["Purchase ID"].count()

#Average Purchase Price
avg_purchase_gender = gender_groups["Price"].mean()

#Total Purchase Value
purchase_value_gender = gender_groups["Price"].sum()

#Average Purchase Total per Person by Gender
avg_purchase_total_gender = purchase_value_gender / unique_players

#Summary DF
purchase_analysis_gender_df = pd.DataFrame({"Purchase Count":purchase_count_gender,
                                           "Average Purchase Price":avg_purchase_gender,
                                            "Total Purchase Value":purchase_value_gender,
                                           "Average Purchase Total":round(avg_purchase_total_gender,2)})

purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,3.203009,361.94,4.47
Male,652,3.017853,1967.64,4.07
Other / Non-Disclosed,15,3.346000,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [62]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-29
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-29
4,4,Iskosia90,23,Male,131,Fury,1.44,20-29

In [112]:
bins = [0,9.99,19.99,29.99,39.99,999]
labels =  ["<10","10-19","20-29","30-39","40+"]
purchase_data["Age_bins"] =  pd.cut(purchase_data["Age"],bins,labels = labels)
age_bins = purchase_data.groupby(["Age_bins"]).nunique()["SN"]

bin_df = pd.DataFrame({"Total Players": age_bins,
                      "Percentage of Players %": round((age_bins/total_players)*100,2)})
bin_df

          Total Players  Percentage of Players %
Age_bins
<10                  17                     2.95
10-19               129                    22.40
20-29               335                    58.16
30-39                83                    14.41
40+                  12                     2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
#Purchase Count by Age
purchase_count_age = purchase_data.groupby(["Age_bins"]).count()["Purchase ID"]
purchase_count_age

#Average Purchase Price by Age
avg_purchase_price_age = purchase_data.groupby(["Age_bins"]).mean()["Price"]

#Total Purchase Value by Age
purchase_value_age = purchase_data.groupby(["Age_bins"]).sum()["Price"]

#Avg Total Purchase per Person by Age
avg_total_purchase_age = round((purchase_value_age/purchase_count_age),2)

purchase_analysis_df = pd.DataFrame({"Purchase Count by Age":purchase_count_age,
                                    "Average Purchase Price by Age":avg_purchase_price_age,
                                    "Total Purchase Value by Age": purchase_value_age,
                                    "Average Total Purchase Per Person By Age":avg_total_purchase_age})

purchase_analysis_df

,Purchase Count by Age,Average Purchase Price by Age,Total Purchase Value by Age,Average Total Purchase Per Person By Age
Age_bins,,,,
<10,23,3.353478,77.13,3.35
10-19,164,3.022378,495.67,3.02
20-29,466,3.019442,1407.06,3.02
30-39,114,3.172544,361.67,3.17
40+,13,2.941538,38.24,2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [97]:
total_purchase = purchase_data.groupby(["SN"]).sum()["Price"]
average_purchase = purchase_data.groupby(["SN"]).mean()["Price"]
purchase_count = purchase_data.groupby(["SN"]).count()["Price"]

top_spenders_df=pd.DataFrame({"Total Purchase":total_purchase,
                             "Average Purchase":round(average_purchase,2),
                             "Purchase Count":purchase_count})

top_spenders_df.sort_values(by=["Total Purchase"],ascending=False).head()

             Total Purchase  Average Purchase  Purchase Count
SN
Lisosia93             18.96              3.79               5
Idastidru52           15.45              3.86               4
Chamjask73            13.83              4.61               3
Iral74                13.62              3.40               4
Iskadarya95           13.10              4.37               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [110]:
item_data_df = purchase_data.loc[:,["Item ID","Item Name","Price"]]
purchase_group = item_data_df.groupby(["Item ID","Item Name"])

purchase_count = purchase_group.count()["Price"]
avg_item_price = purchase_group.mean()["Price"] 
total_purchase_value = purchase_group.sum()["Price"]


popular_items_df = pd.DataFrame({"Purchase Count":purchase_count,
                                "Avg Item Price":round(avg_item_price,2),
                                "Total Purchase Value":total_purchase_value})

popular_items_df.sort_values(by=["Purchase Count"],ascending=False).head()

,,Purchase Count,Avg Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [111]:
popular_items_df.sort_values(by=["Total Purchase Value"],ascending=False).head()

,,Purchase Count,Avg Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80