### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [54]:
print(purchase_data.head())

total_players = len(purchase_data["SN"].unique())
print(total_players)

   Purchase ID             SN  Age Gender  Item ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44
576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
unique_items = len(purchase_data["Item Name"].unique())
# print(unique_items)

average_price = purchase_data["Price"].mean()
# print(average_price)

total_purchases = len(purchase_data["Purchase ID"])
# print(total_purchases)

total_revenue = purchase_data["Price"].sum()
# print(total_revenue)

purchasing_analysis_df = pd.DataFrame({"Total Unique Items":[unique_items],
                                       "Average Price":[average_price],
                                       "Total Purchases":[total_purchases],
                                       "Total Revenue":[total_revenue]})
purchasing_analysis_df

   Total Unique Items  Average Price  Total Purchases  Total Revenue
0                 179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [67]:
gender_groups=purchase_data.groupby(['Gender'])

unique_players = gender_groups["SN"].nunique()

gender_demographics_df=pd.DataFrame({"Total Number of Users by Gender":unique_players,
                                 "Percentage of Users by Gender":(unique_players/total_players)*100})

gender_demographics_df

,Total Number of Users by Gender,Percentage of Users by Gender
Gender,,
Female,81,14.062500
Male,484,84.027778
Other / Non-Disclosed,11,1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:
#Purchase Count
purchase_count_gender = gender_count["Purchase ID"].count()

#Average Purchase Price
avg_purchase_gender = gender_count["Price"].mean()

#Total Purchase Value
purchase_value_gender = gender_count["Price"].sum()

#Average Purchase Total per Person by Gender


#Summary DF
purchase_analysis_gender_df = pd.DataFrame({"Purchase Count":purchase_count_gender,
                                           "Average Purchase Price":avg_purchase_gender,
                                           "Total Purchase Value":purchase_value_gender})
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame